@model Reward
@{
    ViewData["Title"] = "Add New Reward";
}
<div class="top row justify-content-between align-items-center top-container theme-container-change">
    <div class="col-md-6">
        <form class="" asp-action="Index" asp-controller="Reward" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]">
            <input type="text" name="query" class="search-bar w-100" placeholder="Search" />
        </form>
    </div>   

    <div class="col-md-6">
        <div class="d-flex justify-content-end center-vertical">
            <a class="margin-0 theme-text-change" id="main-text">Admin</a>
            <img class="ml-10" src="~/assets/bootcoin.png" width="30" height="30" />
        </div>
    </div>
</div>

<div class="title p-content theme-text-change theme-container-change">
    <h3>@ViewData["Title"]</h3>
</div>

<a class="btn btn-secondary back-button"asp-action="Index" asp-controller="Reward" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

<div class="ps-5 pt-5 pb-3 theme-text-change theme-background-change">
    <h5 class="fw-bolder">Add Reward </h5>
</div>


<div class="ps-5 pe-5">
    <form method="post" asp-controller="Reward" asp-action="Create" enctype="multipart/form-data">
        <input type="hidden" asp-for="CategoryId" value="@ViewData["categoryID"]"/>
        <div class="mb-2">
            <label class="form-label theme-text-change" for="category_name">Category Reward:</label>
            <input for="category_name" class="form-control input-dis" value="@ViewData["categoryName"]" disabled="disabled" >
        </div>
        <div class="mb-2">
            <label asp-for="RewardName" class="form-label theme-text-change">Reward Name:</label>
            <input asp-for="RewardName" class="form-control theme-input-change" placeholder="Reward Name">
            <span asp-validation-for="RewardName" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="RewardDescription" class="form-label theme-text-change">Reward Description:</label>
            <input asp-for="RewardDescription" class="form-control theme-input-change" placeholder="Reward Description">
            <span asp-validation-for="RewardDescription" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="RequiredCoin" class="form-label theme-text-change">Required Coins:</label>
            <div class="input-group" style="width: 25%;"> 
                <div class="input-group-prepend" style="margin-right: 10%;">
                    <button style="width: 37px; height: auto;" type="button" class="btn btn-outline-secondary theme-container-change count-button" id="decrement">-</button>
                </div>
                <input style="border-radius: 10px;" asp-for="RequiredCoin" type="number" class="form-control theme-input-change" id="quantity" value="1" min="1">
                <div style="margin-left: 10%;" class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary theme-container-change count-button" id="increment">+</button>
                </div>
            </div>
            <span asp-validation-for="RequiredCoin" class="text-danger"></span>
        </div>
        <div class="mb-2" style="width: 50%">
            <label class="theme-text-change" asp-for="Photo">Add Photo:</label>
            <input type="file" asp-for="Photo" class="form-control theme-container-change" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <div>
            <button type="submit" class="btn btn-primary red-button" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]">Add</button>     
        </div>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
      $("#decrement").click(function() {
        var value = $("#quantity").val();
        if (value > 1) {
          value--;
        }
        $("#quantity").val(value);
      });
      $("#increment").click(function() {
        var value = $("#quantity").val();
        value++;
        $("#quantity").val(value);
      });
    });
</script>
