@model Reward
@{
    ViewData["Title"] = "Create Reward";
}
<div class="top d-flex justify-content-between align-items-center top-container">
@*    <form asp-action="Index" asp-controller="Reward" asp-route-id="@ViewData["categoryID"]">
        <input type="text" name="query" class="search-bar" placeholder="Search" />
    </form>*@

    <div class="d-inline-flex center-vertical profile">
        <div class="d-flex center-vertical">
            <a class="text-black margin-0" id="main-text">Admin</a>
        </div>
        <img class="ml-10" src="./assets/bootcoin.png" width="30" height="30" />
    </div>
</div>

<div class="title p-content">
    <h3>@ViewData["Title"]</h3>
</div>

<div>
    <img class="d-block" src="#" style="margin: auto; width: 85%;" />
</div>

<div class="p-content">
    <h5 class="fw-bolder">Reward Details - @ViewData["categoryName"] </h5>
</div>

<div class="p-content">
    <form method="post" asp-controller="Reward" asp-action="Create" enctype="multipart/form-data">
        <input type="hidden" asp-for="CategoryId" value="@ViewData["categoryID"]"/>
        <div class="mb-2">
            <label for="category_name">Category Reward</label>
            <input for="category_name" class="form-control" placeholder="@ViewData["categoryName"]" readonly>
        </div>
        <div class="mb-2">
            <label asp-for="RewardName" class="form-label">Reward Name</label>
            <input asp-for="RewardName" class="form-control" placeholder="Reward Name">
            <span asp-validation-for="RewardName" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="RewardDescription" class="form-label">Reward Description</label>
            <input asp-for="RewardDescription" class="form-control" placeholder="Reward Description">
            <span asp-validation-for="RewardDescription" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="RequiredCoin" class="form-label">Required Coin</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <button type="button" class="btn btn-outline-secondary" id="decrement">-</button>
                </div>
                <input asp-for="RequiredCoin" type="number" class="form-control" id="quantity" value="0">
                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-secondary" id="increment">+</button>
                </div>
            </div>
            <span asp-validation-for="RequiredCoin" class="text-danger"></span>
        </div>
        <div class="mb-2">
            <label asp-for="Photo"></label>
            <input type="file" asp-for="Photo" class="form-control" />
            <span asp-validation-for="Photo" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]">Submit</button>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
    $(document).ready(function() {
      $("#decrement").click(function() {
        var value = $("#quantity").val();
        if (value > 0) {
          value--;
        }
        $("#quantity").val(value);
      });
      $("#increment").click(function() {
        var value = $("#quantity").val();
        value++;
        $("#quantity").val(value);
      });
    });
</script>
