@model IEnumerable<Reward>
@{
    ViewData["Title"] = "Detail Reward";
}

<div class="top d-flex top-container">
    <form class="w-100" asp-action="Index" asp-controller="Reward" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]">
        <input type="text" name="query" class="search-bar w-100" placeholder="Search" />
    </form>

    <div class="col-md-6">
        <div class="d-flex justify-content-end center-vertical">
            <a class="text-black margin-0" id="main-text">Admin</a>
            <img class="ml-10" src="~/assets/bootcoin.png" width="30" height="30" />
        </div>
    </div>
</div>

<div class="title p-content">
    <h3>@ViewData["Title"]</h3>
</div>

<div>
    <img class="d-block" src="#" style="margin: auto; width: 85%;" />
</div>

<div class="p-content">
    <h5 class="fw-bolder">Reward Details - @ViewData["categoryName"]</h5>
</div>

@if (Model != null)
{
    <div class="row" style="margin: 10px 20px;">
        @foreach (var item in Model)
        {
            <div class="card col" style="width: 19rem;">
                <img src="~/images/rewards/@item.Photo" class="card-img-top" alt="..." height="100" width="60">
                <div class="card-body">
                    <h5 class="card-title">@item.RewardName</h5>
                </div>
                <p class="text-danger">@item.RequiredCoin Bootcoin</p>
            </div>
        }
    </div>
}
else
{
    <p>No item found</p>
}

<div class="d-grid gap-2 col-6 mx-auto">
    <a class="btn btn-primary" asp-controller="Reward" asp-action="Create" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]">
        Add More
    </a>
</div>


<!-- Modal -->
@*<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModalLabel">Add Reward</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="post" asp-controller="Reward" asp-action="CreateReward">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="category_reward">Category Reward</label>
                        <input class="form-control" placeholder="@Model.categoryReward.Name" readonly>
                        <span asp-validation-for="@Model.categoryReward.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="re">Reward Name</label> 
                        <input for="reward_name" class="form-control" placeholder="Reward Name">
                        <span asp-validation-for="rewards.ElementAtOrDefault(0).RewardName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label for="reward_desc">Reward Description</label>
                        <textarea for="reward_desc" class="form-control" rows="3"></textarea>
                        <span asp-validation-for="rewards.ElementAtOrDefault(0).RewardDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>*@

