@model IEnumerable<AddCoinCategory>
@{
    ViewData["Title"] = "Add Coin";
}

<div class="top d-flex top-container theme-container-change">
    <input class="search-bar" type="text" placeholder="Search" />
    <div class="d-inline-flex center-vertical profile">
        <div class="d-flex center-vertical">
            <a class="margin-0 theme-text-change" id="main-text">Admin</a>
        </div>
        <img class="ml-10" src="../assets/bootcoin.png" width="30" height="30" />
    </div>
</div>

<div class="title theme-text-change theme-container-change">
    <h3>@ViewData["Title"]</h3>
</div>

<a class="btn btn-secondary back-button"asp-action="CoinPeople" asp-controller="Coin" asp-route-categoryId="@ViewData["categoryID"]" asp-route-categoryName="@ViewData["categoryName"]"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>

@if (Model != null)
{
    <div class="row-coin-card-coin theme-background-change">
        @foreach (var item in Model)
        {
            <div class="col-coin-card-coin theme-container-change" data-req="@item.RequiredCoin" data-id="@item.Id" data-name="@item.AddCoinCategoryName" onclick="changeColCoinCoinsAttr(this)">
                <div class="coin-container">
                    <h6>@item.RequiredCoin</h6>
                </div>
                <div class="card-body" style="text-align:center;">
                    <div>
                        <img src="../assets/bootcoin.png" alt="..." width="100" height="100">
                    </div>
                    <h6 class="theme-text-change">@item.AddCoinCategoryName</h6>
                </div>
            </div>
        }
        <a asp-controller="Coin" asp-action="AddCoinCategory">
            <div class="col-coin-card-coin theme-container-change">
                <div class="card-body" style="text-align:center;">
                    <div>
                        <img src="../assets/bootcoin.png" alt="..." width="100" height="100">
                    </div>
                    <h6 class="theme-text-change">Add New</h6>
                </div>
            </div>
        </a>
    </div>
}
else
{
    <p>No item found</p>
}

<div class="d-flex justify-content-center theme-background-change" style="padding-top: 10px;">
    <input type="checkbox" id="multiple-coins" name="multiple" value="multiple" onclick="multipleCoinsChange()">
    <label for="multiple" style="margin-left: 10px;" id="multiple-text">Multiple select</label>
</div>

<div class="d-flex justify-content-center pt-5">
    <form method="post" asp-controller="Coin" asp-action="AddCoinToUser">
        <div id="hidden-div-2" style="display:none">
        </div>
        <input name="userList" type="hidden" value="@TempData["tempList"]" style="display:none"/>
        <button type="submit" class="btn btn-danger align-content-center ps-4 pe-4" style="border-radius:12px; background-color:#AD1A25; font-size: 24px">Input</button>
    </form>
</div>